@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap');


html {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

* {
    background-color: rgb(239, 225, 225);
}
body {
    margin: 0;
}

.top-bar {
    position: relative;
    height: 67;
    margin: 0;
    padding: 0;
}

.top-bar a:hover {
    color: #e32121;
}

.nav-bar {
    height: 55px;
    background-color: #f9f7f7;
}

.nav-bar > ul {
    display: inline-block;
    background-color: #f9f7f7;
}

.nav-bar > ul > li {
    position: relative;
    left: 85px;
    top: 0.5px;
    font-size: 10.8px;
    margin: 0;
    padding: 0px 9.5px;
    display: inline-block;
    justify-content: space-between;
    background-color:  #f9f7f7;
}

.nav-bar > ul > li > a {
    background-color: #f9f7f7;
}

.social-bar {
    background: transparent;
    position: absolute;
    height: 59px;
    padding: 0;
    margin: 0;
    
}

.social-bar > ul {
    background: transparent;
    display: inline-block;
}


.social-bar > ul > li {
    color: #e45a14;
    position: relative;
    left: 968px;
    top: -55px;
    font-size: 10.5px;
    margin: 0;
    padding: 0px 5px;
    display: inline-block;
    background-color:  transparent;
}

.social-bar > ul > li > a {
    background-color: #f9f7f7;
    text-decoration: none;
    color: #b7afaf;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
/\/\/\/\/\/\/\/\/\/\/  ADVENTURE TO THE CITY  \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */



.adventure-to-the-city {
    position: relative;
    left: 80px;
    height: 827px;
    width: 668px;
    border-right: 0px;
    align-items: center;
    border: 0px;
}

.city-image {
    position: relative;
    background-image: url(../images/citylife.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    top: 45px;
    left: 53px;
    height: 421px;
    width: 668px;   
    box-sizing: content-box;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
/\/\/\/\/\/\/\/\/\/\/  SEARCHING FOR AMY  \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */


.searching-for-amy {
    position: relative;
    top: 38px;
    left: 80px;
    height: 827px;
    width: 668px;
    border-right: 0px;
    align-items: center;
    border: 0px;
}

.piggies-image {
    position: relative;
    background-image: url(../images/piggies.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    top: 45px;
    left: 53px;
    height: 423px;
    width: 668px;   
    box-sizing: content-box;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
/\/\/\/\/\/\/\/\/\/\/  THE RAISEN AT THE END OF THE HOT DOG  \/\/\/\/\/\/\/\/\/\/\/\/
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */


.raisen {
    position: relative;
    top: 78px;
    left: 80px;
    height: 827px;
    width: 668px;
    border-right: 0px;
    align-items: center;
    border: 0px;
}

.kids-image {
    position: relative;
    background-image: url(../images/kids.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    top: 45px;
    left: 53px;
    height: 445px;
    width: 668px;   
    box-sizing: content-box;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
/\/\/\/\/\/\/\/\/\/\/  AMERICA THE BEAUTIFUL  \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

.america-the-beautiful {
    position: relative;
    top: 118px;
    left: 80px;
    height: 827px;
    width: 668px;
    border-right: 0px;
    align-items: center;
    border: 0px;
}

.eagle-image {
    position: relative;
    background-image: url(../images/eagle.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    top: 67px;
    left: 53px;
    height: 444px;
    width: 668px;   
    box-sizing: content-box;
}

.picture-title {
    position: relative;
    top: 45px;
    left: 53px;
    height: 400px;
    width: 668px;
    background-color: #f4eeee;
}

.picture-title a {
    position: absolute;
    left: 314px;
    top: 40px;
    font-size: 10.8px;
    text-align: center;
    color: #e45a14;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4eeee;

}

.picture-title h2 {
    position: relative;
    width: 225px;
    height: 35px;
    margin: 0px;
    left: 228px;
    top: 72px;
    font-size: 103%;
    font-family: sans-serif;
    transform: scale(1,1.5);
    background-color: #f4eeee;
}

.box-text {
    position: absolute;
    top: 476px;
    left: 52px;
    padding: 120px 30px 20px 38px;
    line-height: 1.75em;
    width: 588px;
    height: 259px;
    padding-top: 100px;
    font-size: 12.9px;
    text-align: left;
    color: #20201f;
    font-family: sans-serif;
    background-color: transparent;
}

.box-text a {
    background-color: #f4eeee;
}

.cr-button {
    position: absolute;
    margin-left: 5%;
    top: 719px;
    left: 276px;
    width: 153px;
    height: 34px;
    background-color: #f4eeee;
    border: 0.5px solid #e32121;
    transition: font-size 0.5s 0.5s;
}

.cr-button h3 {
    position: relative;
    background-color: transparent;
    bottom: 2px;
    font-size: 11.7px;
    text-align: center;
    text-transform: 25%;
    color: #e32121;
    transition: font-size 0.5s 0.5s;
}

.author {
    position: absolute;
    top: 807px;
    left: 90px;
    font-style: italic;
    font-size: 13.3px;
    font-family: 'Times New Roman', Times, serif;
    color: #20201f;
    background-color: #f4eeee;
    z-index: 6;
}

.author a {
    background-color: #f4eeee;
}

.social-attc {
    background: transparent;
    height: 59px;
    padding: 0;
    margin: 0; 
}

.social-attc > ul {
    background: transparent;
    display: inline-block;
}


.social-attc > ul > li {
    color: #e45a14;
    position: relative;
    left: 517px;
    top: -29px;
    font-size: 14px;
    margin: 0;
    padding: 0px 5px;
    display: inline-block;
    background-color:  transparent;
}

.social-attc > ul > li > a {
    background-color: #f4eeee;
    text-decoration: none;
    color: #b7afaf;
}

.attc-section {
    position: relative;
    margin-left: 35px;
    margin-right: 35px;
    border-top: 1px solid #b7afaf;
    left: 53px;
    bottom: 90px;

}


/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/  SMALL BOXES  \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

.smallboxes {
    position: static;
    margin: 0;
    height: 60px;
    width: 30px;
}

.boxA {
    margin: 0;
    height: 60px;
    width: 30px;
    border-color: 5px solid red;
    background-color: purple;
    
}

.boxB {
    margin: 0;
    height: 60px;
    width: 30px;
    border-color: 5px solid red;
    background-color: black;
    
}

.boxC {
    margin: 0;
    height: 60px;
    width: 30px;
    border-color: 5px solid red;
    background-color: yellow;
}

.boxD {
    margin: 0;
    height: 60px;
    width: 30px;
    border-color: 5px solid red;
    background-color: green;
}


.page-bar {
    position: absolute;
    align-content: center;
    top: 200px;
    left: 400px;
    margin: 0;
    height: 60px;
    width: 30px;
    border-color: 5px solid red;
    background-color: blue;
}