* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


body {
    margin: 0;
    background-color: #f4f1f1;
    height: 100%;    
}

/* =================== TOP BAR ==================== */

.top-bar {
    margin-bottom: 44px;
    display: flex;
    align-items: baseline;
    background-color: #fcfafa;
    border-bottom: 0.5px solid #d5d1d1;

}

.nav-bar {
    width: 581px;
    height: 45px;
    margin-left: 12px;
    padding-left: 100px;
    padding-top: 11px;
    color: #20201f;
    font-size: 10.9px;
    font-weight: 500;
    font-family: 'Lato';
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    display: flex;
    justify-content: space-evenly;
}

.nav-bar  a {
    color: #20201f;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #e32121;
}

.social-bar {
    width: 400px;
    height: 28px;
    margin-left: 355px;
    color: #beb8b8;
    font-size: 12px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    display: flex;
    justify-content: flex-end;
    margin-right:107px;
}
.social-bar  a {
    color: #beb8b8;
    text-decoration: none;
    margin-right: 13px;
}
.social-bar a:hover {
    color: #e32121;
}

/* =================== ^^^ TOP BAR ^^^ ==================== */


/* =================== CLASS BOXES ========================= */

.boxes {
    margin-left: 134px;
    margin-right: 0px;
    margin-bottom: -13px;
    gap: 26px;
    display: flex;
    flex-direction: row;
    border-color: 10px solid #e4ceec;
}

/* =================== ^^^ CLASS BOXES ^^^ ========================= */


/* ======================== MAIN BOXES ===================== */

.main-boxes {
    margin-bottom: 10px;
    height: 100%;
    width: 668px;
    align-content: center;
}

.adventure_city-box {
    height: 821px;
    width: 100%;
    max-width: 668px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    margin-bottom: 45px;
    background-color: #fcfafa;
}
.image-box {
    height: 421px;
    width: 668px;
}

.main-images {
    max-height: 100%; 
    object-fit: cover;
    width: 668px;
}
.main-caption {
    display: inline-block;
    align-content: center;
    margin: 0px;
    height: 105px;
    width: 356px;
}
.main-caption h1 {
    padding-top: 40px;
    padding-right: 2px;
    font-family: "Lato";
    font-size: 11px;
    color: #e45a14;
    margin: 0;
}
.main-caption h2 {
    color: rgb(94, 94, 96);
    margin-top: 4px;
    font-size: 139%;
    font-family: "Oswald";
    font-weight: 450;
    padding-top: 5px;
    padding-right: 1px;

}
.main-caption h2:hover {
    color: #e32121;
    cursor: pointer;
}

.box-text p {
    height: 130px;
    width: 668px;
    padding: 5px 30px 20px 35px;
    line-height: 1.75em;
    font-size: 12.9px;
    text-align: left;
    color: #20201f;
    font-family: 'Lato';
    margin-top: 0px;
}
.button {
    width: 153px;
    height: 34px;
    margin-top: 6px;
    background-color: #fcfafa;
    border: 0.8px solid #e32121;
    font-family: 'Lato';
    font-weight: 650;
    color: #e32121;
    font-size: 11.7px;
    transition: 0.4s;
    text-decoration: none;
}
.button:hover  {
    cursor: pointer;
    color: #fcfafa;
    background-color: #e32121;
}

.lower-bar {
    margin-top: 36px;
    margin-left: 37px;
    border-top: 1px solid #beb8b8;
    height: 85px;
    width: 594px;
    margin-bottom: 50px;
    display: flex;
    /* align-items: baseline; */
}
.author {
    display: flex;
    width: 389px;
    height: 50px;
    font-style: italic;
    font-size: 12.6px;
    font-family: 'Lato';
    color: #9e9797;
    padding: 3px 10px 0px 0px;
}

.author a {
    margin-top: 12.5px;
    padding: 0px 2.5px 0px 2.5px;
    background-color: #fcfafa;
    text-decoration: none;
    color: #9e9797;
}
.author a:hover {
    color: #e32121;
}
.lower-social-bar {
    width: 150px;
    height: 40px;
    margin-top: 21px;
    font-size: 14px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0,1);
    display: flex;
    padding-left: 82px;
}
.lower-social-bar  a {
    color: #beb8b8;
    text-decoration: none;
    padding-right: 14.3px;
}
.lower-social-bar a:hover {
    color: #e32121;
}
    

.searching_amy-box {
    height: 821px;
    width: 668px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    margin-bottom: 45px;
    background-color: #fcfafa;
}

.hotdog-box {
    height: 845px;
    width: 668px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    margin-bottom: 45px;
    background-color: #fcfafa;
}
.image-box-hotdog { 
    height: 446px;
    width: 668px;
    object-fit: cover;
}

.america-box {
    height: 821px;
    width: 668px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    margin-bottom: 45px;
    background-color: #fcfafa;
}


.pages-tabs {
    display: flex;
    justify-content: space-between;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    text-decoration: none;
    height: 50px;
    color: #20201f;
    width: 175px;
    /* font-size: 18px; */
    margin-left: 133px;
    padding-bottom: 15px;
    font-family: 'Oswald';
    margin-bottom: 61px;
}
.pages-tabs button {
    width: 30px;
    height: 32px;
    color: #20201f;
    background-color: #fcfafa;
    text-decoration: none;
    border: 1px solid rgb(231, 228, 228);
    font-family: 'Oswald';
    font-size: 13px;
}
.pages-tabs a {
    font-size: 12px;
    font-weight: 700;
    width: 35px;
    height: 32px;
    color: #20201f;
    padding: 12px 0 0 10px;
    background-color: #fcfafa;
    border: 1px solid rgb(231, 228, 228);
    text-decoration: none;
}
.pages-tabs button:hover {
    cursor: pointer;
    color: #fcfafa;
    background-color: #e32121;
}
.pages-tabs a:hover {
    cursor: pointer;
    color: #fcfafa;
    background-color: #e32121;
}
#btn {
    background-color: #e32121;
    color: #fcfafa;
}


/* ======================== ^^^ MAIN BOXES ^^^ ===================== */



/* ======================= SMALL BOXES =========================== */

.small-boxes {
    margin-bottom: 40px;
    height: 100%;
    width: 100%;
    align-content: center;
    font-size: 15px;
}

.m_grant-box {
    width: 320px;
    height: 486px;
    font-size: 50px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    margin-bottom: 36px;
    background-color: #fcfafa;
}
.m_grant-image-box {
    width: 320px;
    height: 272px;
}
#park-image {
    width: 320px;
    height: 164px;
}
.profile-pic {
    transform: translateY(-88px);
    right: 75px;
    top: 88px;
    height: 173px;
    width: 173px; 
    border-radius: 50%;
    border: 6px solid #fcfafa;
    object-fit: cover;
}
.mg-title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 19px;
    margin-top: -3px;
    margin-right: 2px;
    color: #363534;
    font-family: "Oswald";
    background-color: #fcfafa;
}

.small-box-title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 26px;
    margin-top: -5px;
    margin-right: 2px;
    color: #363534;
    font-family: "Oswald";
    background-color: #fcfafa;
}
.small-box-story {
    padding: 0px 30px 0px 30px;
    font-size: 13.3px;
    color: #363534;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    margin-right: 2px;
    margin-bottom: 20px;
    background-color: #fcfafa;
    bottom: 69px;
    line-height: 1.70em;
    font-family: "Lato";
}
.small-box-social-bar {
    width: 100%;
    height: 28px;
    color: #beb8b8;
    font-size: 11px;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    display: flex;
    justify-content: center;
}
.small-box-social-bar > div {
    width: 35px;
}
.small-box-social-bar  a {
    color: #beb8b8;
    text-decoration: none;
    margin-right: 13px;
    border: 1px solid #b7afaf;
    border-radius: 50%;
    height: 26.5px;
    width: 26.5px;
    line-height: 25px;
    transition: 0.4s;
}
.small-box-social-bar a:hover {
    color: #fcfafa;
    background-color: #e32121;
}


.popular_posts-box {
    width: 320px;
    height: 875px;
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    padding: 32px 25px 0px 25px;
    margin: 0 0 40px 0;
    background-color: #fcfafa;
}
.popular_posts-box > img {
    object-fit: cover;
    height: 179px;
    width: 267px;   
    box-sizing: content-box;
    opacity: 1;
    transition: .5s ease;
    background-color: #e36221;
}
.popular_posts-box > img:hover {
    cursor: pointer;
    opacity: 0.3;
    background-color: #e36221;
}
.popular_posts-box h2 {
    display: flex;
    font-family: "Oswald";
    font-size: 12.5px;
    color: #363534;
    margin-top: 2px;
    margin-bottom: 0px;
    width: 267px;
}
.popular_posts-box p {
    display: flex;
    margin-top: 10px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    font-family: "Lato";
    font-style: italic;
    font-size: 12.5px;
    color: #363534;
    width: 267px;
    border-width: 267px;
    border-bottom: 0.5px solid #b7afaf;
}

.latest_posts-box {
    width: 320px;
    height: 453px;
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    padding: 30px 25px 0px 27px;
    margin-bottom: 37px;
    background-color: #fcfafa;
}
.latest_posts-box > img {
    float: left;
}
.latest_posts-box > img:hover {
    cursor: pointer;
    transition: 0.4s; 
    opacity: 0.3;
    background-color: #e36221;
}
.latest_posts-text {
    height: 80px;
    border-width: 267px;
    border-bottom: 0.5px solid #b7afaf;
    margin: 0px 10px 15px 0px;
}
.latest_posts-box h2 {
    display: flex;
    font-family: "Oswald";
    font-size: 12px;
    color: #363534;
    margin: 0px;
    width: 140px;
    padding-left: 13px;
    padding-top: 3px;
}
.latest_posts-box p {
    display: flex;
    margin-top: 7px;
    padding-left: 13px;
    padding-bottom: 15px;
    font-family: "Lato";
    font-style: italic;
    font-size: 12.5px;
    color: #363534;
    width: 100px;
    border-width: 267px;
}

.instagram_feed-box {
    width: 320px;
    height: 509px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
    background-color: #fcfafa;
    padding-top: 33px;
}
.if-box-title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: -5px;
    margin-right: 2px;
    color: #363534;
    font-family: "Oswald";
    background-color: #fcfafa;
}

.instagram_feed-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    object-fit: contain;
    box-sizing: content-box;
}
.instagram_feed-images > img {
    background: rgba(244, 91, 36, 0.4);
    margin: 5.1px;
}
.instagram_feed-images > img:hover {
    cursor: pointer;
    transition: 0.4s; 
    opacity: 0.3;
    background-color: #e36221;
}

/* ======================== ^^^ SMALL BOXES ^^^ ===================== */


/* ======================= LOWER PICS =========================== */

.instagram-box {
    height: 70px;
    width: 100%;
    color: #787775;
    background-color:  #fcfafa;
    text-align: center;
    justify-content: center;
    font-family: "Oswald";
    font-weight: lighter;
    font-size: 14px;
    display: flex;
    margin-top: 5px;
    padding: 5px 0 0 11px
}
.instagram-box a {
    font-weight: 450;
}
.instagram-box h3 {
    padding-top: 4px;
    padding-left: 3px;
    font-weight: 450;
}
.instagram-box a:hover {
    cursor: pointer;
    color: #e32121;
}


/* ======================= LOWER PICS =========================== */
.grid {
    display: flex;
}
.lower-pics {
    position: relative;
    overflow: hidden;
}
.lower-pics > img {
    height: 160px;
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}
.lower-pics > .content {
    position: absolute;
    inset: 0;
    font-size: 1rem;
    padding: 1rem;
    background: rgba(244, 91, 36, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower-pics > img, 
.lower-pics > .content {
    transition: 0.4s ease-in-out;
}
.content > a {
    color: #110e02;
    text-decoration: none;
}
.lower-pics > .content.fade {
    cursor: pointer;
    opacity: 0;
}
.lower-pics:hover > .content.fade {
    cursor: pointer;
    opacity: 1;
}


/* ======================== ^^^ LOWER PICS ^^^ ===================== */


/* ======================= LOWER BOXES =========================== */


.ccs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 100%;
    background-color: #110e02;
}

.ccs p {
    margin: 0;
    color: #787775;
    font-size: 13px;
    font-family: 'Lato';
    padding: 0 0 3px 17px;
}










/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\     Media Query     /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */



@media (max-width: 980px) {

    body {
        /* width: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-bar {
        margin-bottom: 44px;
        /* background-color: #fcfafa; */
        border-bottom: 0.5px solid #d5d1d1;
        width: 100%;
        height: 45px;

    }

    .nav-bar {
        display: none;
    }
    .social-bar  {
        display: none;
    }

    /* =================== ^^^ TOP BAR ^^^ ==================== */


    /* =================== CLASS BOXES ========================= */

    .boxes {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        /* height: 0px; */
    }

    .main-boxes {
        /* width: 50%; */
        height: 100%;
        width: 322px;
    }

    .adventure_city-box {
        /* height: 821px; */
        height: 100%;
        width: 100%;
        max-width: 322px;
        text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
        margin-bottom: 45px;
    }
    .image-box {
        height: 200px;
        width: 322px;
        margin: 0;
    }
 
    .main-images {
        max-height: 100%; 
        object-fit: cover;
        max-width: 100%;
    }
    .main-caption {
        display: inline-block;
        align-content: center;
        margin: 0px;
        height: 100%; 
        width: 100%;
        /* height: 105px;
        width: 356px; */
    }
    .main-caption h1 {
        padding-top: 20px;
        padding-right: 2px;
        font-size: 9px;
        margin: 0;
    }
    .main-caption h2 {
        margin-top: 4px;
        font-size: 100%;
        padding-top: 5px;
        padding-right: 1px;
    
    }
    
    .box-text p {
        height: 100%;
        width: 100%;
        line-height: 1.65em;
        font-size: 10.5px;
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    .button {
        width: 113px;
        height: 30px;
        margin-top: 1px;
        font-weight: 650;
        color: #e32121;
        font-size: 9px;
    }
    
    .lower-bar {
        margin-top: 16px;
        margin-left: 17px;
        border-top: 1px solid #beb8b8;
        height: 100%;
        width: 295px;
        margin-bottom: 0px;
    }
    .author {
        display: flex;
        width: 159px;
        height: 50px;
        font-size: 10px;
        padding: 3px 10px 0px 0px;
    }
    
    .author a {
        margin-top: 10px;
        padding: 0px 2.5px 0px 2.5px;
    }
   
    .lower-social-bar {
        width: 150px;
        height: 40px;
        margin-top: 14px;
        font-size: 10px;
        padding-left: 30px;
    }
    .lower-social-bar  a {
        color: #beb8b8;
        text-decoration: none;
        padding-right: 14.3px;
    }

    .searching_amy-box {
        height: 100%;
        width: 100%;
        max-width: 322px;
        text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
        margin-bottom: 45px;
    }
    
    .hotdog-box {
        height: 100%;
        width: 100%;
        max-width: 322px;
        text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
        margin-bottom: 45px;
    }
    .image-box-hotdog { 
        height: 200px;
        width: 322px;
        margin: 0;
    }
    
    .america-box {
        height: 100%;
        width: 100%;
        max-width: 322px;
        text-shadow:4px 4px 0 rgba(0, 0, 0, 0,1);
        margin-bottom: 45px;
    }

    .small-boxes {
        margin-left: auto;
        margin-right: auto;
    }


    .pages-tabs { 
        height: 50px;
        width: 175px;
        /* font-size: 18px; */
        margin-left: 0px;
        padding-bottom: 10px;
        margin-bottom: 4px;
    }
    .pages-tabs button {
        width: 30px;
        height: 32px;
        font-size: 13px;
    }
    .pages-tabs a {
        font-size: 12px;
        width: 35px;
        height: 32px;
        padding: 12px 0 0 10px;
    }



    .instagram-box {
        height: 60px;
        width: 721px;
        max-width: 720px;
        margin-top: 5px;
        padding: 0;
    }


    .grid {
        display: flex;
    }
    .lower-pics {
        position: relative;
        overflow: hidden;
    }
    .lower-pics > img {
        height: 90px;
        display: block;
        width: 100%;
    }
    .lower-pics > .content {
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }
   
    


    .ccs {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        height: 62px;
        width: 721px;
        max-width: 720px;
    }
    
    .ccs p {
        margin: 0;
        padding: 0;
        font-size: 13px;
    }






}